<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CropRecommend</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
        <!-- CSS Start -->
        {% include "statictemplates/css.html" %}
        <!-- CSS End -->
   
</head>

<body>
    <!-- Topbar Start -->
    <!-- Topbar Start -->
    {% include "statictemplates/header.html" %}
    <!-- Topbar End -->
    <!-- Topbar End -->


    
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-5">
        <a href="index.html" class="navbar-brand d-flex d-lg-none">
            <h1 class="m-0 display-4 text-secondary"><span class="text-white">Farm</span>Fresh</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">
                <a href="/" class="nav-item nav-link">Home</a>
                <a href="/about" class="nav-item nav-link">About</a>
                <a href="/crops" class="nav-item nav-link">Crops</a>
                <a href="/team" class="nav-item nav-link">Teams</a>
                <a href="/testing" class="nav-item nav-link">Testing</a>
                <a href="/feedback" class="nav-item nav-link">Feedback</a>

                <a href="/contact" class="nav-item nav-link active">Contact</a>
                <a href="/clients" class="nav-item nav-link">Clients</a>

            </div>
        </div>
    </nav>
   


  
   <!-- Hero Start -->
   <div class="container-fluid bg-primary py-5 bg-hero mb-5">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h1 class="display-1 text-white mb-md-4">Contact Us</h1>
                <!-- <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Home</a> -->
                <!-- <a href="" class="btn btn-secondary py-md-3 px-md-5">Contact Us</a> -->
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->


<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="mx-auto text-center mb-5" style="max-width: 500px;">
            <h6 class="text-primary text-uppercase">Contact Us</h6>
            <h1 class="display-5">Please Feel Free To Contact Us</h1>
        </div>
        <div class="row g-0">
            <div class="col-lg-7">
                <div class="bg-primary h-100 p-5">
                    <h3 class="text-secondary">Madan Sir</h3>
                    <div class="d-flex mb-2">
                        <i class="bi bi-telephone text-white me-2"></i>
                        <p class="text-white mb-0">9863197745</p>
                    </div>
                    <div class="d-flex mb-2">
                        <i class="bi bi-envelope-open text-white me-2"></i>
                        <p class="text-white mb-0">madankadariya@gmail.com</p>
                    </div>
                    <h3 class="text-secondary">Akhil Prazapati</h3>
                    <div class="d-flex mb-2">
                        <i class="bi bi-telephone text-white me-2"></i>
                        <p class="text-white mb-0">9863197745</p>
                    </div>
                    <div class="d-flex mb-2">
                        <i class="bi bi-envelope-open text-white me-2"></i>
                        <p class="text-white mb-0">akhilprajapati62@gmail.com</p>
                    </div>
                    <h3 class="text-secondary">Kusal Acharya</h3>
                    <div class="d-flex mb-2">
                        <i class="bi bi-telephone text-white me-2"></i>
                        <p class="text-white mb-0">9863197745</p>
                    </div>
                    <div class="d-flex mb-2">
                        <i class="bi bi-envelope-open text-white me-2"></i>
                        <p class="text-white mb-0">kusalacharya@gmail.com</p>
                    </div>
                    <h3 class="text-secondary">Pratima Sah</h3>
                    <div class="d-flex mb-2">
                        <i class="bi bi-telephone text-white me-2"></i>
                        <p class="text-white mb-0">9863197745</p>
                    </div>
                    <div class="d-flex mb-2">
                        <i class="bi bi-envelope-open text-white me-2"></i>
                        <p class="text-white mb-0">pratimasah@gmail.com</p>
                    </div>
                    <h3 class="text-secondary">Prakriti Mishra</h3>
                    <div class="d-flex mb-2">
                        <i class="bi bi-telephone text-white me-2"></i>
                        <p class="text-white mb-0">9863197745</p>
                    </div>
                    <div class="d-flex mb-2">
                        <i class="bi bi-envelope-open text-white me-2"></i>
                        <p class="text-white mb-0">prakritimishra@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="bg-secondary h-100 p-5">
                    <h2 class="text-white mb-4">Get In Touch</h2>
                    <div class="d-flex mb-4">
                        <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
                            <i class="bi bi-geo-alt fs-4 text-white"></i>
                        </div>
                        <div class="ps-3">
                            <h5 class="text-white">Our Location</h5>
                            <span class="text-white">NCIT-College, Balkumari</span>
                        </div>
                    </div>
                    <div class="d-flex mb-4">
                        <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
                            <i class="bi bi-envelope-open fs-4 text-white"></i>
                        </div>
                        <div class="ps-3">
                            <h5 class="text-white">Email Us</h5>
                            <span class="text-white">info@ncit.edu.np</span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
                            <i class="bi bi-phone-vibrate fs-4 text-white"></i>
                        </div>
                        <div class="ps-3">
                            <h5 class="text-white">Call Us</h5>
                            <span class="text-white">01-5186354</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->




   


  
    

    <!-- Footer Start -->
    <div class="container-fluid bg-footer bg-primary text-white mt-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-8 col-md-6">
                    <div class="row gx-5">
                        <div class="col-lg-4 col-md-12 pt-5 mb-5">
                            <h4 class="text-white mb-4">Get In Touch</h4>
                            <div class="d-flex mb-2">
                                <i class="bi bi-geo-alt text-white me-2"></i>
                                <p class="text-white mb-0">NCIT-College, Balkumari</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-envelope-open text-white me-2"></i>
                                <p class="text-white mb-0">info@ncit.edu.np</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-telephone text-white me-2"></i>
                                <p class="text-white mb-0">01-5186354</p>
                            </div>
                            <div class="d-flex mt-4">
                                <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-secondary btn-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <h4 class="text-white mb-4">Quick Links</h4>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-white mb-2" href="/"><i class="bi bi-arrow-right text-white me-2"></i>Home</a>
                                <a class="text-white mb-2" href="/about"><i class="bi bi-arrow-right text-white me-2"></i>About Us</a>
                                <a class="text-white mb-2" href="/crops"><i class="bi bi-arrow-right text-white me-2"></i>Crops</a>
                                <a class="text-white mb-2" href="/team"><i class="bi bi-arrow-right text-white me-2"></i>Meet The Team</a>
                                <a class="text-white mb-2" href="/testing"><i class="bi bi-arrow-right text-white me-2"></i>Test Predictions</a>
                                <a class="text-white mb-2" href="/contact"><i class="bi bi-arrow-right text-white me-2"></i>Contact Us</a>
                                <a class="text-white mb-2" href="/clients"><i class="bi bi-arrow-right text-white me-2"></i>Happy Clients</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <h4 class="text-white mb-4">Admin Links</h4>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-white mb-2" href="/dashboard"><i class="bi bi-arrow-right text-white me-2"></i>Dashboard</a>
                                <a class="text-white mb-2" href="/admin/crops"><i class="bi bi-arrow-right text-white me-2"></i>Crops</a>
                                <a class="text-white mb-2" href="/admin/parameters"><i class="bi bi-arrow-right text-white me-2"></i>Input Parameters</a>
                                <a class="text-white mb-2" href="/admin/testinomials"><i class="bi bi-arrow-right text-white me-2"></i>Testinomials</a>
                                <a class="text-white mb-2" href="/admin/testing"><i class="bi bi-arrow-right text-white me-2"></i>Test Prediction</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                   <img height="200px" width="200px" style="border-radius: 50%; margin-top: 1px;" src="https://www.collegenp.com/uploads/2018/03/Nepal-College-of-Information-Technology.jpg" alt="">
                   <br>
                   <h3 style="color: whitesmoke;">Nepal College of Information Technology</h3>
                </div>              
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white py-4">
        <div class="container text-center">
            <p class="mb-0">&copy; <a class="text-secondary fw-bold" href="#">www.croprecommendationsystem.com.np</a>. All Rights Reserved. Designed by <a class="text-secondary fw-bold" href="#">Akhil, Kusal, Pratima, Prakriti</a></p>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-secondary py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{url_for('static', filename = 'lib/easing/easing.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'lib/waypoints/waypoints.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'lib/counterup/counterup.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'lib/owlcarousel/owl.carousel.min.js')}}"></script>

    <!-- Template Javascript -->
    <script src="{{url_for('static', filename = 'js/main.js')}}"></script>
</body>

</html>









 