<div class="container-fluid px-5 d-none d-lg-block">
    <div class="row gx-5 py-3 align-items-center">
        <div class="col-lg-3">
            <div class="d-flex align-items-center justify-content-start">
                <i class="bi bi-phone-vibrate fs-1 text-primary me-2"></i>
                <h4>01-5186354</h4>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="d-flex align-items-center justify-content-center">
                <a href="/" class="navbar-brand ms-lg-5">
                    <h2 class="m-0 display-5 text-primary"><span class="text-secondary">Crop</span>Recommend</h2>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="d-flex align-items-center justify-content-end">
                <a href="{{url_for('logout')}}" style="font-size:18px; margin-right: 16px;" class = "text-secondary">Logout</a>
                <a class="btn btn-primary btn-square rounded-circle me-2" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-primary btn-square rounded-circle me-2" href="https://www.facebook.com/ourncit"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-primary btn-square rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-primary btn-square rounded-circle" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>

<hr size="1" style="color: green;">