<div class="container-fluid bg-footer bg-primary text-white mt-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-8 col-md-6">
                <div class="row gx-5">
                    <div class="col-lg-4 col-md-12 pt-5 mb-5">
                        <h4 class="text-white mb-4">Get In Touch</h4>
                        <div class="d-flex mb-2">
                            <i class="bi bi-geo-alt text-white me-2"></i>
                            <p class="text-white mb-0">NCIT-College, Balkumari</p>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-envelope-open text-white me-2"></i>
                            <p class="text-white mb-0">info@ncit.edu.np</p>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-telephone text-white me-2"></i>
                            <p class="text-white mb-0">01-5186354</p>
                        </div>
                        <div class="d-flex mt-4">
                            <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-secondary btn-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                        <h4 class="text-white mb-4">Quick Links</h4>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="/"><i class="bi bi-arrow-right text-white me-2"></i>Home</a>
                            <a class="text-white mb-2" href="/about"><i class="bi bi-arrow-right text-white me-2"></i>About Us</a>
                            <a class="text-white mb-2" href="/crops"><i class="bi bi-arrow-right text-white me-2"></i>Crops</a>
                            <a class="text-white mb-2" href="/team"><i class="bi bi-arrow-right text-white me-2"></i>Meet Our Team</a>
                            <a class="text-white mb-2" href="/testing"><i class="bi bi-arrow-right text-white me-2"></i>Test Predictions</a>
                            <a class="text-white mb-2" href="/contact"><i class="bi bi-arrow-right text-white me-2"></i>Contact Us</a>
                            <a class="text-white mb-2" href="/clients"><i class="bi bi-arrow-right text-white me-2"></i>Happy Clients</a>
                        </div>
                    </div>
                  
                    <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                        <h4 class="text-white mb-4">Admin Links</h4>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="/dashboard"><i class="bi bi-arrow-right text-white me-2"></i>Dashboard</a>
                            <a class="text-white mb-2" href="/admin/crops"><i class="bi bi-arrow-right text-white me-2"></i>Crops</a>
                            <a class="text-white mb-2" href="/admin/parameters"><i class="bi bi-arrow-right text-white me-2"></i>Input Parameters</a>
                            <a class="text-white mb-2" href="/admin/testinomials"><i class="bi bi-arrow-right text-white me-2"></i>Testinomials</a>
                            <a class="text-white mb-2" href="/admin/testing"><i class="bi bi-arrow-right text-white me-2"></i>Test Prediction</a>
                            <a class="text-white mb-2" href="/admin/feedback"><i class="bi bi-arrow-right text-white me-2"></i>View Feedbacks</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                <h4 class="text-white mb-4">Featured Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" href="/chat"><i class="bi bi-arrow-right text-white me-2"></i>ChatGPT (openai)</a>
                    <a class="text-white mb-2" href="/feedback"><i class="bi bi-arrow-right text-white me-2"></i>Send Feedback</a>
                    <a class="text-white mb-2" href="/testing"><i class="bi bi-arrow-right text-white me-2"></i>Test Prediction</a>
                </div>
            </div> 
            
            <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                <!-- <img height="200px" width="200px" style="border-radius: 50%; margin-top: 1px;" src="https://www.collegenp.com/uploads/2018/03/Nepal-College-of-Information-Technology.jpg" alt=""> -->
                <!-- <br> -->
                <!-- <h3 style="color: whitesmoke;">Nepal College of Information Technology</h3> -->
             </div> 
        </div>
    </div>
</div>




<div class="container-fluid bg-dark text-white py-4">
    <div class="container text-center">
        <p class="mb-0">&copy; <a class="text-secondary fw-bold" href="/">www.croprecommendationsystem.com.np</a>. All Rights Reserved. Designed by <a class="text-secondary fw-bold" href="#">Akhil, Kusal, Pratima, Prakriti</a></p>
    </div>
</div>

<!-- Back to Top --> 
<a href="#" class="btn btn-secondary py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>


